.about-our-beans {
    box-sizing: border-box;
    padding-top: 70px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.beans-info {
    margin-left: 80px;
    text-align: center;
}

.beans-info-header {
    margin-bottom: 20px;
}

.beans-info-text {
    margin-top: 25px;
}